ul{
  list-style: none !important;
}

img {
    width: 300px;
    height: auto;
}

.img-mvc {
    width: 550px;
    height: auto;
}

.img-presentation{
    width:  35%;
    height: auto;
}

.center-img {
    width: 70%;
    height: auto;
    margin: 0 auto;
}


.step3 {
    width: 95%;
    height: auto;
    margin: 0 auto;
}




