ul{
  list-style: none !important;
}

img {
    width: 300px;
    height: auto;
}

.img-mvc {
    width: 500px;
    height: auto;
}

.img-presentation{
    width:  40%;
    height: auto;
}

.slides {
  
}